html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
.flex-layout-wrapper {
    width: 1000px;
    height: 100%;
    background: linear-gradient(to top right, rgba(0,0,0, .7), rgba(0, 0, 0, .6), rgba(0, 0, 0, .3));
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
header {
    height: 50px;
}
.main-body-div {
    width: 80%;
    align-self: center;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}
.world-unit {
    border: .5px solid black;
}
.world-unit:hover {
    background: aqua !important;
}